/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
section {
    max-width: 30%;
    margin: auto;
    padding: 100px 0;
}
button {
    margin: auto;
    width: 15vw;
}
